

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Poppins', sans-serif;

}
body{
    /*Despues lo cambiamos*/
    background: rgb(30, 30, 30);
    color: white;
    overflow: hidden;
    overflow-y: scroll;

}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
    width: 15px; /* Ancho del scrollbar */
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Color de fondo del track (fondo detrás del scrollbar) */
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(191, 191, 76); /* Color del scrollbar */
    border-radius: 1px; /* Radio de borde del scrollbar */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); /* Cambia el color del scrollbar en hover */
  }
  
